ul {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px;
  padding: 5px;
}
li {
  padding: 16px;
}
li:nth-child(odd) {
  background-color: teal;
  color: tomato;
  font-weight: bold;
}
li.selected {
  background-color: violet;
}
li.selected ~ li:nth-child(odd) {
  background-color: olivedrab;
}
