header,
nav,
aside,
section,
footer {
  background: rgb(186, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 90%;
  padding: 10px;
  margin: auto;
  margin-bottom: 4px;
  text-align: center;
  border: 5px solid rgb(82, 62, 62);
  border-radius: 4pc;
}
section {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
section div {
  background: salmon;
  color: rgb(54, 153, 104);
  padding: 20px;
  margin: auto;
  margin: 4px 4px 4px 4px;
  border: 2px solid black;
  border-radius: 2pc;
}
div:hover {
  border-color: white;
  color: black;
}
