div {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: maroon;
  background-color: linen;
  text-align: center;
}
.box-1 {
  float: left;
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 5px solid salmon;
}
.box-2 {
  float: left;
  width: 20%;
  height: 20%;
  padding: 50px;
  border: 5px solid blue;
  margin: 20px;
}
.box-3 {
  float: left;
  width: 300px;
  padding: 50px;
  margin: 20px;
  border: 5px solid silver;
}
